In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('D:\\Python\\pandas\\Lesson_13\\bestsellers_with_categories.csv')
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [9]:
df.head(1).T     # .T to transpose the data

                                         0
Name         10-Day Green Smoothie Cleanse
Author                            JJ Smith
User Rating                            4.7
Reviews                              17350
Price                                    8
Year                                  2016
Genre                          Non Fiction

In [11]:
df.groupby('Genre')['User Rating'].mean()

Genre
Fiction        4.648333
Non Fiction    4.595161
Name: User Rating, dtype: float64