In [35]:
import pandas as pd 
import numpy as np

In [36]:
pd.__version__

'1.2.3'

Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let s be the variable identifying this Series.

In [37]:
dates = pd.date_range(start='01-01-2015', end='31-12-2015', freq='B')     # 'B' for days
dates

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

### data = np.random.randint(lowest integer, highest integer, size=number of random integers)

In [38]:
s = np.random.randint(1,1000, 365)
s

array([ 58,  31, 685, 163, 810, 808, 778, 566, 290, 523, 294, 971, 263,
       726, 916, 524, 490, 129,  30, 223, 235,  77, 238, 879, 577, 612,
       459, 898, 102, 956, 271, 522, 766, 672,   8, 168, 639, 592, 576,
       291, 170, 652, 496, 822, 789, 297, 465, 108,  79, 547,   9, 236,
       464, 331,  92, 356,  40, 249, 125, 618, 469, 640,  58,  35, 159,
       455, 325, 968, 341, 103, 989, 458, 588, 932, 325, 754, 396, 321,
       663, 874, 484, 164, 179, 563, 267, 330, 546, 882, 452, 796, 215,
       975, 565, 668, 176, 684, 526, 435, 123, 293,  47, 506, 666, 912,
       481, 940, 667, 294, 802, 623, 944, 484,   9, 128, 383, 228, 546,
       362, 579,  38, 635, 204, 762, 830, 613, 905, 466, 372, 516,  37,
       572, 314, 796, 312, 789, 163, 790, 793, 566, 171, 943, 359, 849,
       613,  62, 842, 769, 341, 144, 328, 227,  16, 106, 806, 651, 218,
       667, 740, 747, 637, 227, 294, 347, 342, 892, 626, 440, 518, 553,
       334, 172, 982, 219, 384, 287, 373, 645, 250, 672, 581, 716, 794,
       798, 586, 407, 798, 799,  39, 419, 765,  14, 521,  81, 958, 496,
       356, 159, 651, 152, 525, 441, 178, 119, 187, 637,  32, 770, 921,
       687, 646, 852, 557, 324, 371, 552, 763, 408, 144, 792, 413, 836,
       713, 360, 185, 247, 156,  74, 808, 690, 701,   9, 608, 662, 270,
       797, 335, 314, 512, 500, 470, 626,  89, 945, 809, 766, 145, 395,
       398,   3, 855, 318, 973, 892, 927, 262, 411, 196, 159, 850, 446,
       241, 867, 160, 526, 684, 108, 393, 651, 658, 172, 573, 645, 113,
       896, 412, 905, 916, 335, 152, 330, 132, 917, 134, 307, 535, 745,
       251,  39, 569,  29, 203, 537, 842, 718, 148, 289, 896, 415, 276,
       511, 944, 302, 866, 587, 240, 227,  56, 485,  78, 628, 830,  55,
       542,  55,  70, 458, 454, 773, 852, 541, 601,  81,  34, 363, 160,
       633,  96, 775, 545, 157,  40, 597,  60,  17, 842, 978, 861, 109,
       521, 171, 609, 979, 492, 846, 903, 533, 435,  64, 507, 628,  41,
         6, 882, 299, 520, 367, 231, 164, 994, 370, 106, 212, 645, 730,
       135])

In [39]:
df = pd.Series(np.random.rand(len(dates)), index=dates)
df

2015-01-01    0.466381
2015-01-02    0.395402
2015-01-05    0.849952
2015-01-06    0.149296
2015-01-07    0.564606
                ...
2015-12-25    0.081452
2015-12-28    0.041180
2015-12-29    0.207104
2015-12-30    0.843761
2015-12-31    0.644626
Freq: B, Length: 261, dtype: float64

### 2. Find the sum of the values in s for every Wednesday.

In [40]:
# finds the day of the week for every date (Mon=0...Sunday = 6)
df.index.day_of_week

Int64Index([3, 4, 0, 1, 2, 3, 4, 0, 1, 2,
            ...
            4, 0, 1, 2, 3, 4, 0, 1, 2, 3],
           dtype='int64', length=261)

In [41]:
df.loc[df.index.day_of_week == 2].sum()

25.94287374773162

### For each calendar month in s, find the mean of values.  pandas.DataFrame.resample

#### Convenience method for frequency conversion and resampling of time series. 
DataFrame.resample(rule, axis=0, closed=None, label=None, convention='start', kind=None, loffset=None, base=None, on=None, level=None, origin='start_day', offset=None)

In [42]:
df.resample('M').sum()     # Downsample the series into a monthly bins

2015-01-31    12.583132
2015-02-28    11.888947
2015-03-31    11.348304
2015-04-30     9.877596
2015-05-31    10.433120
2015-06-30    13.528837
2015-07-31    13.515803
2015-08-31     7.355029
2015-09-30     9.744567
2015-10-31    11.898505
2015-11-30    10.414909
2015-12-31     9.803882
Freq: M, dtype: float64

In [43]:
df.resample('M').mean()

2015-01-31    0.571961
2015-02-28    0.594447
2015-03-31    0.515832
2015-04-30    0.448982
2015-05-31    0.496815
2015-06-30    0.614947
2015-07-31    0.587644
2015-08-31    0.350239
2015-09-30    0.442935
2015-10-31    0.540841
2015-11-30    0.495948
2015-12-31    0.426256
Freq: M, dtype: float64

In [44]:
df.resample('Q').sum()     # Resample a year by quarters

2015-03-31    35.820383
2015-06-30    33.839553
2015-09-30    30.615399
2015-12-31    32.117296
Freq: Q-DEC, dtype: float64

In [45]:
d = {'price': [10, 11, 9, 13, 14, 18, 17, 19],
     'volume': [50, 60, 40, 100, 50, 100, 40, 50]}
df2 = pd.DataFrame(d)
df2['week_starting'] = pd.date_range('01/01/2018',
                                    periods=8,
                                    freq='W')
df2

   price  volume week_starting
0     10      50    2018-01-07
1     11      60    2018-01-14
2      9      40    2018-01-21
3     13     100    2018-01-28
4     14      50    2018-02-04
5     18     100    2018-02-11
6     17      40    2018-02-18
7     19      50    2018-02-25

For DataFrame objects, the keyword on can be used to specify the column instead of the index for resampling.

In [47]:
df2.resample('M', on='week_starting').mean()

               price  volume
week_starting
2018-01-31     10.75    62.5
2018-02-28     17.00    60.0