Predict Loan Eligibility for Dream Housing Finance company

In [147]:
import pandas as pd
import numpy as np

In [148]:
data = pd.read_csv('train_ctrUa4K.csv', index_col='Loan_ID')
data.head(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

list of all females who are not graduates and got a loan

In [149]:
filter1 = data.loc[(data['Gender']== 'Female') & (data['Education'] == 'Not Graduate') &(data['Loan_Status'] == 'Y')]     
filter1

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001155,Female,Yes,0,Not Graduate,No,1928,1644.0,100.0,360.0,1.0,Semiurban,Y
LP001669,Female,No,0,Not Graduate,No,1907,2365.0,120.0,NaN,1.0,Urban,Y
LP001692,Female,No,0,Not Graduate,No,4408,0.0,120.0,360.0,1.0,Semiurban,Y
LP001908,Female,Yes,0,Not Graduate,No,4100,0.0,124.0,360.0,NaN,Rural,Y
LP002300,Female,No,0,Not Graduate,No,1963,0.0,53.0,360.0,1.0,Semiurban,Y
LP002314,Female,No,0,Not Graduate,No,2213,0.0,66.0,360.0,1.0,Rural,Y
LP002407,Female,Yes,0,Not Graduate,Yes,7142,0.0,138.0,360.0,1.0,Rural,Y
LP002489,Female,No,1,Not Graduate,NaN,5191,0.0,132.0,360.0,1.0,Semiurban,Y
LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
LP002534,Female,No,0,Not Graduate,No,4350,0.0,154.0,360.0,1.0,Rural,Y
LP002582,Female,No,0,Not Graduate,Yes,17263,0.0,225.0,360.0,1.0,Semiurban,Y
LP002731,Female,No,0,Not Graduate,Yes,18165,0.0,125.0,360.0,1.0,Urban,Y
LP002757,Female,Yes,0,Not Graduate,No,3017,663.0,102.0,360.0,NaN,Semiurban,Y
LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y

In [150]:
filter1[["Gender","Education","Loan_Status"]]

          Gender     Education Loan_Status
Loan_ID
LP001155  Female  Not Graduate           Y
LP001669  Female  Not Graduate           Y
LP001692  Female  Not Graduate           Y
LP001908  Female  Not Graduate           Y
LP002300  Female  Not Graduate           Y
LP002314  Female  Not Graduate           Y
LP002407  Female  Not Graduate           Y
LP002489  Female  Not Graduate           Y
LP002502  Female  Not Graduate           Y
LP002534  Female  Not Graduate           Y
LP002582  Female  Not Graduate           Y
LP002731  Female  Not Graduate           Y
LP002757  Female  Not Graduate           Y
LP002917  Female  Not Graduate           Y

Perform filtering with only 3 columns

In [151]:
filter2 = data.loc[(data['Gender']== 'Female') & (data['Education'] == 'Not Graduate') &(data['Loan_Status'] == 'Y'), ["Gender","Education","Loan_Status"] ] 
filter2

          Gender     Education Loan_Status
Loan_ID
LP001155  Female  Not Graduate           Y
LP001669  Female  Not Graduate           Y
LP001692  Female  Not Graduate           Y
LP001908  Female  Not Graduate           Y
LP002300  Female  Not Graduate           Y
LP002314  Female  Not Graduate           Y
LP002407  Female  Not Graduate           Y
LP002489  Female  Not Graduate           Y
LP002502  Female  Not Graduate           Y
LP002534  Female  Not Graduate           Y
LP002582  Female  Not Graduate           Y
LP002731  Female  Not Graduate           Y
LP002757  Female  Not Graduate           Y
LP002917  Female  Not Graduate           Y

Apply Function in Pandas

In [152]:
#Create a new function:
def num_missing(x):
    return sum(x.isnull())

In [153]:
#Applying per column:
print ("Missing values per column:\n")
print (data.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

Missing values per column:

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [154]:
#Applying per row:
print ("\nMissing values per row:\n")
print (data.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

Missing values per row:

Loan_ID
LP001002    1
LP001003    0
LP001005    0
LP001006    0
LP001008    0
dtype: int64

Imputing missing values using Pandas
‘fillna()’ does it in one go. It is used for updating missing values with the overall mean/mode/median of the column. Let’s impute the ‘Gender’, ‘Married’ and ‘Self_Employed’ columns with their respective modes.

In [155]:
#First we import scipy function to determine the mode
from scipy.stats import mode
mode(data['Gender'])

ModeResult(mode=array(['Male'], dtype=object), count=array([489]))

In [156]:
mode(data['Gender']).mode[0]    #We will take the first one by default

'Male'

In [157]:
#Impute the values:
data['Gender'].fillna(mode(data['Gender']).mode[0], inplace=True)    # as an example.....will put all missing values as 'male'
data['Married'].fillna(mode(data['Married']).mode[0], inplace=True)
data['Self_Employed'].fillna(mode(data['Self_Employed']).mode[0], inplace=True)

#Now check the #missing values again to confirm:
print (data.apply(num_missing, axis=0))

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Pivot Table in Pandas to fill missing values to LoanAmount

In [158]:
#Determine pivot table
impute_grps = data.pivot_table(values=["LoanAmount"], index=["Gender","Married","Self_Employed"], aggfunc=np.mean)
print (impute_grps)

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.691176
               Yes            125.800000
       Yes     No             134.222222
               Yes            282.250000
Male   No      No             129.936937
               Yes            180.588235
       Yes     No             153.882736
               Yes            169.395833

In [159]:
#Check missing LoanAmounts exist
mask_loan_nan=data[['LoanAmount']].isna()
print(f"Missing {mask_loan_nan.sum()}")
# These are very few and this is why iterrows didn't take too long

Missing LoanAmount    22
dtype: int64

In [160]:
#Programaticly get all possible values for each category we will be checking for
gender_vals = list(data['Gender'].unique())
married_vals = list(data['Married'].unique())
employed_vals = list(data['Self_Employed'].unique())
gender_vals

['Male', 'Female']

In [164]:
#Get all possible combinations of above categories
import itertools
all_combinations=list(itertools.product(*[gender_vals,married_vals,employed_vals]))
# itertools is a very useful library most people don't use enough :)
all_combinations

[('Male', 'No', 'No'),
 ('Male', 'No', 'Yes'),
 ('Male', 'Yes', 'No'),
 ('Male', 'Yes', 'Yes'),
 ('Female', 'No', 'No'),
 ('Female', 'No', 'Yes'),
 ('Female', 'Yes', 'No'),
 ('Female', 'Yes', 'Yes')]

In [162]:
# Loop on all combinations, mask for each combination which have missing values. 
# Then use combination to access pivot table values and insert them into appropriate places using mask
for combi in all_combinations:
    mask_gender = data['Gender'] == combi[0]
    mask_married = data['Married'] == combi[1]
    mask_employed= data['Self_Employed'] == combi[2]
    mask = (mask_married) & (mask_employed) & (mask_gender) & (mask_loan_nan.iloc[:,0])
    if mask.any():
        value_to_insert=impute_grps.loc[combi,"LoanAmount"]
        data.loc[mask_loan_nan.iloc[:,0],'LoanAmount']=value_to_insert
# Why like this? Vector operations in libraries are always faster. So instead of multiple loops I have just one.

In [163]:
#Check again for missing LoanAmounts
mask_loan_nan=data[['LoanAmount']].isna()
print(f"Missing {mask_loan_nan.sum()}")

Missing LoanAmount    0
dtype: int64